Source: purr
Section: python
Priority: extra
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends: debhelper (>= 11),
 dh-python,
 python3-all,
 python3-pil,
 python3-scipy,
 python3-future,
 python3-astro-kittens
Standards-Version: 4.5.0
Homepage: https://github.com/ska-sa/purr
X-Python3-Version: >=3.6

Package: python3-purr
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-astro-kittens
Description: Data reduction logging tool, Useful for remembering reductions

Package: purr
Architecture: any
Depends: ${misc:Depends}, python3-purr
Description: Data reduction logging tool, Useful for remembering reductions 
